{% extends 'base.html' %}
{% block title %}| Home{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<div id="homeSection">
    <div class="heading">
        TODAY'S REPORT
    </div>
    <div id="homeGrid">
        <div>
            <div class="BlackbagHeading">Orders</div>
            <div id="homeOrder"></div>
        </div>
        <div>
            <div class="BlackbagHeading">Cash</div>
            <div id="incomeCash"></div>
        </div>
        <div>
            <div class="BlackbagHeading">Online</div>
            <div id="incomeOnline"></div>
        </div>
        <div>
            <div class="BlackbagHeading">Maintenance</div>
            <div id="homeMaintenance"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}